*
{
    margin:0px;
    padding:0px;
}
body
{
    margin:10px;
    background-color:indianred
    
}
h1
{
    font-weight: 30px;
    color: white;
}
div
{
    display: inline-block;
}
img 
{
    width:300px;
    height:400px;
    padding:30px;
    border:1px solid;
    border-radius: 15px;
    background-color:blanchedalmond
}
h4
{
    color: whitesmoke;
    padding-left: 30px;
}